@section Items{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Login">Zaloguj się!</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Register">Zarejestruj się!</a>
    </li>
}
<h1>
    Witaj na portalu ShoperInwentaryzacja!
</h1>
<p>Jesli jesteś przedawcą oraz posiadasz sklep na portalu Shoper.pl ta aplikacja może okazać się nieocenioną pomocą w sprawny prowadzeniu twojego biznesu! Masz ciągłe problemy z niezgodnością magazynu shoper ze stanem realnym? To już za Tobą!</p>