<h1> Login Page </h1>
<div class="text-center">
    <div>
        <form action="/Home/Register" method="Post">
            <input type="text" name="username" />
            <input type="text" name="password" />
            <input type="submit" />
        </form>
    </div>
</div>
