@model LoginDetails
<form action="/Home/AddShoperToken" method="post">
    <input type="text" name="Name" />
    <input type="password" name="Password" />
    <input type="text" name="ShopUrl" />
    <input type="submit" />
</form>