@using ShoperInwentaryzacja.Entities
@model List<UsersShoperToken>

<a asp-action="AddShoperToken" role="button" class="btn btn-primary">Dodaj nowy sklep</a>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Nazwa Sklepu
            </th>

            <th>
                Data Wygaśnięcia Tokenu
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody class="table-striped">
        @foreach (var item in Model)
        {
            var parms = new Dictionary<string, string>
    {
                { "shopId", item.Id.ToString()}
            };
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShopUrl)<br />
                </td>
                <td>
                    @{
                        DateTime date = DateTime.MinValue;
                        date = date.AddSeconds(long.Parse(item.ExpireDate.Split(',')[0]));
                    }
                    @date
                </td>
                <td>
                    <a role="button" class="btn btn-primary" asp-action="Inventory" asp-all-route-data="parms">Wybierz</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Items{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Wyloguj</a>
    </li>
}
